* {
    margin: 0;
    padding: 0;
}

FIELDSET {
    border: 0;
}

OL LI UL {
    padding: 0 0 10px 0;
}

OL LI UL LI {
    list-style: none;
    margin: 4px 0 4px 20px;
}

#container {
    background-color: #fff;
    margin: 20px auto;
    padding: 10px;
    width: 940px;
}